*{
	box-sizing: border-box;/* el padding y el borde se incluye en la caja sin aumentar el ancho*/
}
.lateral{
	background-color: #56B3AB;
	bottom: 0;
	left: 0;
	padding-left: 1em;
	position: fixed;
	top: 0;
	width: 350px;
}
/* Perfil */
.perfil__circulo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;  /* lo que sobre de la caja no se muestra*/
	margin:0;
}

.perfil__nombres{
	color: #fff;
	font-size:20px;
	margin-left: .5em;
	width: 250px;
}

.perfil__nombres, .perfil__circulo{
	display: inline-block;
	vertical-align: middle;
}

/*Informacion*/

.informacion{
	color: #0F6A62;
	position: absolute;
	bottom: 1em;
}

.informacion__titulo{
	font-size: 18px;
}

